@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#background{
    min-height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: 105vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#scoreBox{
    position: absolute;
    top:5%;
    right: 5%;
    /* border: 2px solid black; */
    font-family: 'Moon Dance', cursive;
    font-weight: bolder;
    font-size: 7vmin;
}
#highScoreBox{
    position: absolute;
    top:15%;
    right: 5%;
    /* border: 2px solid black; */
    font-family: 'Moon Dance', cursive;
    font-weight: bolder;
    font-size: 7vmin
}
#pauseBtnContainer{
    position: absolute;
    top:25%;
    right: 5%;
}
#pauseBtnContainer button{
    background:linear-gradient(green,skyblue);
    font-size: 5vmin;
    border-radius: 10px;
    padding: 5%;

}
#gameBoard{
    width: 50vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    border: 10px solid black;
    border-radius: 20px;
    background:linear-gradient(green,yellow,green);
}
.snakeHead{
    background-color: black;
    transform: scale(1.1);
    border-radius: 30%;
}

.snakeFood{
    background: linear-gradient(red,black);
    border-radius: 30%;

}

.snakeBody{
    background: linear-gradient(black,white);
    border-radius: 30%;

}

#mobileControlButtonsContainer{
    display: flex;
    position: absolute;
    top: 70%;
    left: 2%;
    width: 50%;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    font-size: 100%;
    height: 28%;
    width: 80%;
}
#mobileControlButtonsContainer div{
    background-color: black;
    color: rgb(238, 246, 246);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mobileControlButtonsContainer div button{
    background-color: black;
    color: white;
    border-color: black;
}
#upperMobileButton{
    border: 2px solid black;
    width: 70%;
    text-align: center;
    margin-bottom: 5%;

}
#leftMobileButton{
    width: 40%;
    border: 2px solid black;
    text-align: center;
}
#rightMobileButton{
    width: 40%;
    text-align: center;
    border: 2px solid black;
    margin-left: 20%;
}
#downMobileButton{
    width: 75%;
    text-align: center;
    border: 2px solid black;
    text-align: center;
    margin-top: 5%;
}
#mobileShowOnly{
    display: none;
}


@media screen and (max-width:700px) {
    #gameBoard{
    width: 70vw;
    height: 55vh;
    margin-left: -25%;
    margin-top: -75%;
    }
    #scoreBox{
        right: 3%;
        font-size: 6vmin;
    }
    #highScoreBox{
        top: 10%;
        right: 2%;
        font-size: 5vmin;
    }
    #mobileShowOnly{
        display: block;
    }
    #pauseBtnContainer{
        top: 15%;
    }
}
@media screen and ((min-width:700px) and (max-width:1000px)) {
    #gameBoard{
    /* width: 70vw;
    height: 55vh; */
    margin-left: -50%; 
    margin-top: -60%;
    }
    /* #scoreBox{
        right: 3%;
        font-size: 6vmin;
    }
    #highScoreBox{
        top: 10%;
        right: 2%;
        font-size: 5vmin;
    }*/
    #mobileShowOnly{
        display: block;
    }
    #pauseBtnContainer{
        top: 15%;
    } 
}
